 
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:maroon;
    padding: 1rem 2rem;
    color:bisque;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    color :bisque;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links a:hover {
    color:black; 
  }
  
   
  .section {
    padding: 2rem;
    text-align: center;
  }
  
  .section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: brown;
  }
  
  .section p {
    font-size: 1.2rem;
    color:black;
    max-width: 800px;
    margin: 0 auto 2rem;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.05);
  }
  
   
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .gallery {
      flex-direction: column;
      align-items: center;
    }
  }